# Backup files
*.bak

# Private configs
pihole-docker/configs/pihole/adlists.list
pihole-docker/configs/pihole/blacklist.txt
pihole-docker/configs/pihole/lan.list
pihole-docker/configs/pihole/setupVars.conf
pihole-docker/configs/pihole/whitelist.txt
pihole-docker/configs/server.conf
setup.conf
.env

# Certificate files
*.pem
*.crt
*.csr
*.ext
*.key
*.srl

# pycharm folder
.idea/