# Backup files
*.bak

# Private configs
*.list
*.txt
.env
setup.conf
server.conf

# Certificate files
*.pem
*.crt
*.csr
*.ext
*.key
*.srl

# pycharm folder
.idea/

# traefik test stuff
traefik-docker/
*traefik*