# IDE folder
.idea/
.vscode/

# Backup files
*.bak

# Local backup dir
.backupfiles

# Configs
*.list
.htpasswd
.env

# Certificate files
*.pem
*.crt
*.csr
*.ext
*.key
*.srl

# Unbound files
root.hints
root.key

# Traefik files
.htpasswd
acme.toml
acme.json
