# exclude maintenance files tracked by setuptools-scm
exclude .gitignore .gitattributes .editorconfig
exclude .pre-commit-config.yaml tox.ini
exclude azure-pipelines.yml .travis.yml appveyor.yml codecov.yml
exclude .readthedocs.yaml
exclude MANIFEST.in
